{% extends 'base.html' %}
{% load static %}

{% block title %}
Зарегистрироваться
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Страница регистрации пользователя</span>
      </div>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="row mb-3 offset-sm-5">
      <div class="col">
        <button type="submit" class="btn btn-success">Принять</button>
      </div>
    </div>
  </form>
</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}